version: '3'
services: 
    api:
        build: .
        ports: 
            - 1323:1323
        container_name: api
    mongo:
        image: mongo:latest
        restart: always
        ports:
            - 27017:27017
        container_name: mongo
    mongo-express:
        image: mongo-express
        restart: always
        environment: 
            - ME_CONFIG_MONGODB_SERVER=mongo
            - ME_CONFIG_MONGODB_PORT=27017
        ports:
            - 8081:8081
        depends_on: 
            - mongo
        container_name: mongo-express