// ----------------------------------------------------------------------
  // Spacing
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
  // #Spacing Values
// ----------------------------------------------------------------------
$space-xxxs: 20px;
$space-xxs: 40px;
$space-xs: 60px;
$space-sm: 80px;
$space-md: 100px;
$space-lg: 160px;
$space-xl: 200px;
$space-xxl: 240px;
$space-xxxl: 280px;

// ----------------------------------------------------------------------
  // #Default Values
// ----------------------------------------------------------------------
// div {
//   @include padding(10px, 10px, 10px, 10px);
//   @include margin(20px, 0, 10px, 0px);
// }