// ----------------------------------------------------------------------
  // Spacing
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
  // #Spacing Values
// ----------------------------------------------------------------------
$space-xxxs: 1.25em; // 20px on desktop
$space-xxs: 2.5em;   // 40px on desktop
$space-xs: 3.75px;   // 60px on desktop
$space-sm: 5em;      // 80px on desktop
$space-md: 6.25em;   // 100px on desktop
$space-lg: 10em;     // 160px on desktop
$space-xl: 12.5em;   // 200px on desktop
$space-xxl: 15em;    // 240px on desktop
$space-xxxl: 280px;  // 280px on desktop

// ----------------------------------------------------------------------
  // #Default Values
// ----------------------------------------------------------------------
// div {
//   @include padding(10px, 10px, 10px, 10px);
//   @include margin(20px, 0, 10px, 0px);
// }