// ----------------------------------------------------------------------
	// Typography
// ----------------------------------------------------------------------

@use "sass:math";

// ----------------------------------------------------------------------
	// #Type Scale
// ----------------------------------------------------------------------
$text-xs: 1em ;   //caption
$text-sm: 1em * math.pow($text-scale-ratio, 1);   // h4
$text-md: 1em * math.pow($text-scale-ratio, 2);   
$text-lg: 1em * math.pow($text-scale-ratio, 3);   // h2
$text-xl: 1em * math.pow($text-scale-ratio, 6);   // h1
$text-xxl: 1em * math.pow($text-scale-ratio, 8);  
$text-xxxl: 1em * math.pow($text-scale-ratio, 9);

// ----------------------------------------------------------------------
	// #Line Height
// ----------------------------------------------------------------------
$heading-line-height: 1.5;
$body-line-height: 2.5;

body {
  font-size: $text-base-size;
}

h1, h2, h3, h4, form legend {
  margin-bottom: $space-xxs;
  line-height: $heading-line-height;
}

// ----------------------------------------------------------------------
	// #Text Size
// ----------------------------------------------------------------------
.text--xxxl {
  font-size: $text-xxxl;
}

.text--xxl {
  font-size: $text-xxl; 
}

.text--xl {
  font-size: $text-xl;
}

.text--lg {
  font-size: $text-lg;
}

.text--md {
  font-size: $text-md;
}

.text--sm {
  font-size: $text-sm;
}

.text--xs {
  font-size: $text-xs;
}

h1 {
  font-size: $text-xl;
  font-weight: 600;
}

h2 {
  font-size: $text-lg;
  font-weight: 600;
}

h3 {
  font-size: $text-lg;
  font-weight: 100;
}

h4 {
  font-size: $text-sm;
  font-weight: 600;
}

p {
  font-size: $text-xs;
  font-weight: 100;
  line-height: $body-line-height;
  margin-bottom: $space-xxxs;
}
// ----------------------------------------------------------------------
	// #Text Component - class used to stylize blocks
// ----------------------------------------------------------------------
.text-container {
  h2, h3, h4 {
    margin-top: $space-md;
  }

  ul, ol, p {
    margin-bottom: $space-sm; 
  }
}