// ----------------------------------------------------------------------

  // Grid Layout

// ----------------------------------------------------------------------
@use 'sass:math';

@function round-width($i) {
  $width: floor($i / $grid-columns * 100%);
  @return $width;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  /** 
   * The negative margins are added to balance the padding we use to create
   * the grid gap so that no empty space is left between the .flex-grid
   * element and its container.
   */
  margin: ($grid-gap * -1) 0 0 ($grid-gap * -1);
}

.col {
  padding: $grid-gap 0 0 $grid-gap;
  /**
   * Makes sure that the background-color/image is not applied to the
   * padding.
   */
  background-clip: content-box;
  /**
   * Sets the initial main size of a flex item.
   */
  flex-basis: 100%;
}

@for $i from 1 through $grid-columns {
  .col__#{$i} {
    @extend .col;
    flex-basis: round-width($i);
    max-width: round-width($i);
  }
}

@media only screen and (min-width: 600px) {
  @for $i from 1 through $grid-columns {
    .col__md_#{$i} {
      flex-basis: round-width($i);
      max-width: round-width($i);
    }
  }
}

