// Main Colors
//
// Colors that inform the main vision
//
// Weight: 1
//
// $primary-color - #3333CC; primary blue
// $secondary-color-1 - #66FFFF; secondary blue
// $secondary-color-2 - #9933CC; secondary purple
// $dark-color-1 - #000033; dark 1
// $dark-color-2 - #191947; dark 2
// $light-color - #FFFFFF; light 1
// $brand-color - #3A75F7; brand blue
//
// Styleguide Abstracts.colours.main
$primary-color: #3333cc;
$secondary-color-1: #66ffff;
$secondary-color-2: #9933cc;
$dark-color-1: #000033;
$dark-color-2: #191947;
$light-color: #ffffff;
$brand-color: #3a75f7;

// Alert Colors
//
// Colors that inform the main vision
//
// Weight: 2
//
// $error-color - #FF0066; error
// $warning-color - #FF6600; warning
// $success-color - #00FF66; success
//
// Styleguide Abstracts.colours.alert
$error-color: #ff0066;
$warning-color: #ff6600;
$success-color: #00ff66;
