@use "sass:math";

// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$breakpoint-small: 600px;
$breakpoint-medium: 960px;
$breakpoint-large: 1264px;
$breakpoint-extra: 1904px;

// ----------------------------------------------------------------------
// Font Sizes and Base Values
// ----------------------------------------------------------------------
$text-base-size: 1em;
$text-scale-ratio: 1.25;
$text-xs: $text-base-size;
$text-sm: $text-base-size * math.pow($text-scale-ratio, 1);
$text-md: $text-base-size * math.pow($text-scale-ratio, 2);
$text-lg: $text-base-size * math.pow($text-scale-ratio, 3);
$text-xl: $text-base-size * math.pow($text-scale-ratio, 6);
$text-xxl: $text-base-size * math.pow($text-scale-ratio, 8);
$text-xxxl: $text-base-size * math.pow($text-scale-ratio, 9);