// ----------------------------------------------------------------------
	// Main Color Scheme
// ----------------------------------------------------------------------
$primary-color: #3333CC;
$secondary-color-1: #66FFFF;
$secondary-color-2: #9933CC;
$dark-color-1: #000033;
$dark-color-2: #191947;
$light-color: #FFFFFF;
$brand-color: #3A75F7;


// ----------------------------------------------------------------------
	// Alert Color Scheme
// ----------------------------------------------------------------------
$error-color: #FF0066;
$warning-color: #FF6600;
$success-color: #00FF66;

// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
	// Font Sizes and Base Values
// ----------------------------------------------------------------------
$text-base-size: 1em;
$text-scale-ratio: 1.25;
$btn-font-size: 1em;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
$grid-gap: 40px;
$gap-horizontal: $grid-gap;
$gap-vertical: $grid-gap * 3;
