// ----------------------------------------------------------------------
	// Main Color Scheme
// ----------------------------------------------------------------------
$primary-color: #3333CC;
$secondary-color-1: #66FFFF;
$secondary-color-2: #9933CC;
$dark-color: #000033;
$light-color: #FFFFFF;
$brand-color: #3A75F7;


// ----------------------------------------------------------------------
	// Alert Color Scheme
// ----------------------------------------------------------------------
$error-color: #FF0066;
$warning-color: #FF6600;
$success-color: #00FF66;

// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
	// Font Sizes and Base Values
// ----------------------------------------------------------------------
$text-base-size: 1em;
$text-scale-ratio: 1.2;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
@font-face {
	font-family: "Quicksand";
	src: url(https://fonts.googleapis.com/css?family=Quicksand:400,500&display=swap);
}

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

